body {
  background-color:var(--dark-gray);
}

:root {
  --grayish-blue: hsl(218,22%, 67%);
  --dark-gray: #222222;
}

.container {
  display: block;
}


h5 {
  text-align: center;
}

.selectTime {
  margin-top: 15px;
}

.row {
  text-align: center;
}

.collection-item {
  display: block;
  background-color: var(--dark-gray) !important;
}
