body {
  background-color:#222222;
}

.container {
  width:100% !important;
}


h5 {
  text-align: center;
}

.selectTime {
  margin-top: 15px;
}

.row {
  text-align: center;
}

.collection-item {
  background-color: #222222 !important;
}
