<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Rest Timer</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="./../css/mainWindow.css">
  </head>
  <body>
    <nav>
      <div class="nav-wrapper">
        <a class="brand-logo center">Rest Timer</a>
      </div>
    </nav>
    <div class="container">
      <div class="row">
        <div class="col s12 m4 12">
            <div id="app">

            </div>
        </div>
      </div>
      <div class="divider"></div>
      <div class="section">

      </div>
      <div class="divider"></div>
      <div class="section">

      </div>
      </div>
    </div>
  </body>
</html>
