<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="./../css/timerWindow.css">
    <title>Select Time</title>
  </head>
  <body>
    <nav>
      <div class="nav-wrapper">
        <a class="brand-logo center">Select Time</a>
      </div>
    </nav>
    <div class="selectTime">
      <ul class = "collection">
        <a href="#!" class ="collection-item" id ="15"><h5>15</h5></a>
        <a href="#!" class ="collection-item" id ="25"> <h5>25</h5> </a>
        <a href="#!" class ="collection-item" id ="45"> <h5>45</h5> </a>
        <a href="#!" class ="collection-item" id ="60"> <h5>1 hour</h5>  </a>
      </ul>
    </div>
    <script type="text/javascript">
      var li = document.getElementsByTagName("li");

      for (var i = 0 ; i<li.length; i++) {
        li[i].addEventListener("click", sendSelectedTime())
      }

      function sendSelectedTime(time) {
        alert(time.target.attributes.id.value);
      }

    </script>
  </body>
</html>
